[Unit]
Description=Socket Activated Go HTTP Server Example

[Service]
# To run directly
ExecStart=/path/to/bin/socket-activated-http-server
# ExecStart=/usr/bin/systemd-nspawn --private-network -D /tmp/go-socket-activated-http-server-container/ /bin/socket-activated-http-server
